/* This stylesheet should be used only for accordions */

// Vertical Accordions
.accordion.vertical h3 {
    width: 100%;
    padding-left: 70px;
    background-image: url(./images/down-arrow-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 0;
}

.accordion.vertical {
    .accordion_item {
        margin-bottom: 2rem;
    }
}

.accordion.vertical .active h3 {
    background-image: url(./images/up-arrow-icon.png);
}

// Horizontal Accordions
