
.btn{
    border:1px solid $secondary;
    color: #FFFFFF;
    background: $secondary;
    border-radius: 0px;
    font-size:2rem;
    padding: 5px 20px;

    &:hover{
        background:rgba(255,255,255,0.9);
        border:1px solid $secondary;
        color: $secondary;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    border:1px solid #ffffff;
    color: #FFFFFF;
    background: transparent;
}



.elementor-button{
    border:1px solid $secondary;
    color: #FFFFFF;
    background-color: $secondary;
    border-radius: 0px;
    font-size:2rem;
    padding: 5px 20px;

    &:hover{
        background:rgba(255,255,255,0.9);
        border:1px solid $secondary;
        color: $secondary;
    }
}